body {
  margin: 0;
}

.header {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav,
.actions {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: rgba(46, 49, 52, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 16px;
  padding: 8px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  display: inline-flex;
}

.actions button {
  background: none;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  outline: 0;
  padding: 4px 10px;
}

.actions button + button {
  margin-left: 30px;
}

.actions button:last-child {
  margin-right: 20px;
}

.actions .blue {
  background: rgb(0, 105, 210);
  box-shadow: 0px 1px 2px 0px rgba(46, 49, 52, 0.4);
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 8px 16px;
  text-transform: uppercase;
}
.hero {
  position: relative;
}

.indicators {
  position: absolute;
}

.slide h1 {
  color: rgb(255, 255, 255);
  font-family: ProximaNova-Semibold;
  font-size: 84px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 100px;
  text-align: center;
  margin: 0;
  max-width: 808px;
}

.slide p {
  color: rgb(255, 255, 255);
  font-family: ProximaNova-Semibold;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 14px;
  text-align: center;
  margin-top: 113px;
}

.slide {
  background: url("https://c.files.bbci.co.uk/12A9B/production/_111434467_gettyimages-1143489763.jpg")
    no-repeat center center;
  background-size: cover;
  height: 680px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.indicators {
  position: absolute;
  bottom: 109px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators .indicator + .indicator {
  margin-left: 4px;
}

.indicators .indicator {
  background: rgba(255, 255, 255, 0.34);
  height: 2px;
  width: 24px;
}
.indicators .indicator.active {
  background: rgb(40, 225, 165);
  height: 4px;
}
.controls .left {
  left: 24px;
}
.controls .right {
  right: 24px;
}

.controls div {
  background: rgb(0, 12, 40);
  border: 1px solid rgba(244, 245, 247, 0.32);
  box-shadow: 0px 7px 12px 0px rgba(46, 49, 52, 0.3);
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 90px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands {
  background: rgba(0, 12, 40, 0.64);
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.brands .content {
  max-width: 1134px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.brands span {
  font-family: ProximaNova-Semibold;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.brands img {
  max-width: 166px;
}

.brands span {
  color: white;
}

.equipment {
  background-color: #f4f5f7;
  padding: 24px;
}
.thumbnail {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(46, 49, 52, 0.4);
  width: 240px;
  padding: 24px 0;
  text-align: center;
}
.thumbnail + .thumbnail {
  margin-left: 20px;
}
.thumbnail img {
  width: 100%;
  max-width: 139px;
}

.thumbnail h4 {
  color: rgb(46, 49, 52);
  font-family: ProximaNova-Bold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 18px;
  margin-top: 14px;
  margin-bottom: 0;
}

.thumbnails {
  display: flex;
}
